<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="success-card">
  <template>
    <style>
      :host {
        display: block;
      }

      h2{
     text-align: center;
     }
   div{
     padding: 5%;
   }
   section {
     display: flex;
     flex-direction: column;
     margin: 0 10%;
   }
   p {
     font-size: 150%;
   }
    .btnConfirmar {
        width: 30%;
        height: 30px;
        background-color: tan;
        color: white;
        margin: 10px auto;
         
      }

    </style>
    <h2>[[prop1]]</h2>
    <section>
     
      <div>
        <p>Texto debajo de parrafo1asdasdasdasdasdasd</p>
        <p>Texto debajo de parrafo2asdasdasdsaasdsa</p>
        <p>Texto debajo de parrafo3 cambio develop 2asd</p>
      </div>
    
      <button class="btnConfirmar">Boton</button>
    
      </section>

  </template>

  <script>
    /**
     * `success-card`
     * Element success created with polymer
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SuccessCard extends Polymer.Element {
      static get is() { return 'success-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'success-card'
          }
        };
      }
    }

    window.customElements.define(SuccessCard.is, SuccessCard);
  </script>
</dom-module>
